USE [DBEcommerce]
GO
/****** Object:  Table [dbo].[CheckDataComments]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckDataComments](
	[CheckDataCommentID] [int] IDENTITY(1,1) NOT NULL,
	[WordRude] [nvarchar](200) NULL,
 CONSTRAINT [PK_CheckDataComments] PRIMARY KEY CLUSTERED 
(
	[CheckDataCommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckDataComments] ON
INSERT [dbo].[CheckDataComments] ([CheckDataCommentID], [WordRude]) VALUES (1, N'phản động')
INSERT [dbo].[CheckDataComments] ([CheckDataCommentID], [WordRude]) VALUES (2, N'Việt Tân')
INSERT [dbo].[CheckDataComments] ([CheckDataCommentID], [WordRude]) VALUES (3, N'chống phá')
SET IDENTITY_INSERT [dbo].[CheckDataComments] OFF
/****** Object:  Table [dbo].[Categories]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[Description] [ntext] NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [ParentId]) VALUES (1, N'Phổ Thông', N'', 0)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [ParentId]) VALUES (2, N'Trung Cấp', N'', 0)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [ParentId]) VALUES (3, N'Cao Cấp', N'', 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[Adverties]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adverties](
	[AdvertiseID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[LinkImage] [varchar](100) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Adverties] PRIMARY KEY CLUSTERED 
(
	[AdvertiseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Adverties] ON
INSERT [dbo].[Adverties] ([AdvertiseID], [CompanyName], [Address], [LinkImage], [StartDate], [EndDate], [Email], [Phone], [Type]) VALUES (1, N'CoCaCoLa', N'TPHCM', N'flowers_33.gif', CAST(0x0000A30F00000000 AS DateTime), CAST(0x0000A3C600000000 AS DateTime), N'coca@gmail.com', N'0988889999', 0)
INSERT [dbo].[Adverties] ([AdvertiseID], [CompanyName], [Address], [LinkImage], [StartDate], [EndDate], [Email], [Phone], [Type]) VALUES (2, N'ShopChungMinh', N'TPHCM', N'giay.jpg', CAST(0x0000A30F00000000 AS DateTime), CAST(0x0000A3C600000000 AS DateTime), N'chungminh@gmail.com', N'0911112222', 0)
INSERT [dbo].[Adverties] ([AdvertiseID], [CompanyName], [Address], [LinkImage], [StartDate], [EndDate], [Email], [Phone], [Type]) VALUES (3, N'Adidas', N'TPHCM', N'kiem.jpg', CAST(0x0000A30F00000000 AS DateTime), CAST(0x0000A3C600000000 AS DateTime), N'adidas@gmail.com', N'0823456789', 1)
SET IDENTITY_INSERT [dbo].[Adverties] OFF
/****** Object:  Table [dbo].[Suppliers]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Address] [nvarchar](60) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Address]) VALUES (1, N'SamSung', N'Hàn Quốc')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Address]) VALUES (2, N'Apple', N'Mỹ')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [Address]) VALUES (3, N'Nokia', N'Phần Lan')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
/****** Object:  Table [dbo].[Sliders]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sliders](
	[SilderID] [int] IDENTITY(1,1) NOT NULL,
	[LinkImage] [varchar](100) NULL,
	[Title] [nvarchar](100) NULL,
 CONSTRAINT [PK_Sliders] PRIMARY KEY CLUSTERED 
(
	[SilderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON
INSERT [dbo].[Sliders] ([SilderID], [LinkImage], [Title]) VALUES (1, N'girl1.jpg', N'Iphone 6S đã xuất hiện')
INSERT [dbo].[Sliders] ([SilderID], [LinkImage], [Title]) VALUES (2, N'girl2.jpg', N'Iphone 4S Gía Cực Sốc')
INSERT [dbo].[Sliders] ([SilderID], [LinkImage], [Title]) VALUES (3, N'girl3.jpg', N'Hãy Mua IPhone ngay hôm nay')
SET IDENTITY_INSERT [dbo].[Sliders] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'NhanVien')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'KhachHang')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[UnitPrice] [money] NULL,
	[Unit] [nvarchar](15) NULL,
	[LinkImage] [nvarchar](100) NULL,
	[Discount] [float] NULL,
	[NumViews] [int] NULL,
	[DateReceived] [datetime] NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[Details] [nvarchar](max) NULL,
	[NumInventory] [int] NULL,
	[LinkLargeImage] [nvarchar](100) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[Accounts]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[RoleID] [int] NULL,
	[Enabled] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON
INSERT [dbo].[Accounts] ([AccountID], [UserName], [PassWord], [RoleID], [Enabled]) VALUES (1, N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', 1, 1)
INSERT [dbo].[Accounts] ([AccountID], [UserName], [PassWord], [RoleID], [Enabled]) VALUES (2, N'ngoctrinh', N'E10ADC3949BA59ABBE56E057F20F883E', 2, 1)
INSERT [dbo].[Accounts] ([AccountID], [UserName], [PassWord], [RoleID], [Enabled]) VALUES (4, N'an12ck2@gmail.com', N'E10ADC3949BA59ABBE56E057F20F883E', 3, 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
/****** Object:  Table [dbo].[Employees]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](30) NOT NULL,
	[BirthDate] [datetime] NULL,
	[Sex] [nvarchar](10) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [BirthDate], [Sex], [Address], [Phone], [AccountID]) VALUES (1, N'Ngọc Trinh', CAST(0x0000867A00000000 AS DateTime), N'Nữ', N'112 Mã Lò Q.6', N'0969696969', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
/****** Object:  Table [dbo].[Customers]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Sex] [nvarchar](10) NULL,
	[BirthDay] [datetime] NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([CustomerID], [AccountID], [FullName], [Sex], [BirthDay], [Address], [Email]) VALUES (2, 2, N'Đỗ Thị Hảo', N'Nữ', CAST(0x0000836200000000 AS DateTime), N'Lê Đức Thọ', N'haonguyen@gmail.com')
INSERT [dbo].[Customers] ([CustomerID], [AccountID], [FullName], [Sex], [BirthDay], [Address], [Email]) VALUES (3, 4, N'Nguyễn Trọng Ân', N'Nam', CAST(0x0000859A00000000 AS DateTime), N'Nguyễn Văn Lượng', N'an12ck2@gmail.com')
INSERT [dbo].[Customers] ([CustomerID], [AccountID], [FullName], [Sex], [BirthDay], [Address], [Email]) VALUES (4, 5, N'Nguyễn Trọng Ân', N'Nam', CAST(0x0000859A00000000 AS DateTime), N'', N'ngan2324@gmail.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
/****** Object:  Table [dbo].[Comments]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[NameUserComment] [varchar](50) NULL,
	[Contents] [nvarchar](150) NULL,
	[DateComment] [datetime] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReplyComments]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReplyComments](
	[ReplyCommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NULL,
	[NameUserReply] [varchar](50) NULL,
	[Contents] [nvarchar](150) NULL,
	[DateReply] [datetime] NULL,
 CONSTRAINT [PK_ReplyComents] PRIMARY KEY CLUSTERED 
(
	[ReplyCommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[DateBuy] [datetime] NULL,
	[Status] [int] NULL,
	[Payments] [nvarchar](50) NULL,
	[TotalMoney] [float] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [DateBuy], [Status], [Payments], [TotalMoney]) VALUES (5, 2, 1, CAST(0x0000A4C400000000 AS DateTime), 1, N'1', NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [EmployeeID], [DateBuy], [Status], [Payments], [TotalMoney]) VALUES (6, 3, 1, CAST(0x0000A4C400000000 AS DateTime), 1, N'1', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 06/27/2015 19:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitPrice] [money] NULL,
	[Quantity] [int] NULL,
	[TotalMoney] [float] NULL,
 CONSTRAINT [pk_OrderDetails_Products] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [TotalMoney]) VALUES (5, 1, 1350000.0000, 2, 2700000)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [UnitPrice], [Quantity], [TotalMoney]) VALUES (6, 2, 1190000.0000, 4, 4760000)
/****** Object:  ForeignKey [FK_Accounts_Roles]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles]
GO
/****** Object:  ForeignKey [FK_Comments_Products]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Products]
GO
/****** Object:  ForeignKey [FK_Customers_Accounts]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Accounts]
GO
/****** Object:  ForeignKey [FK_Employees_Accounts]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Accounts]
GO
/****** Object:  ForeignKey [FK_OrderDetails_Orders]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
/****** Object:  ForeignKey [FK_OrderDetails_Products]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
/****** Object:  ForeignKey [FK_Orders_Customers]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  ForeignKey [FK_Orders_Employees]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
/****** Object:  ForeignKey [FK_Products_Categories]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  ForeignKey [FK_Products_Suppliers]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suppliers]
GO
/****** Object:  ForeignKey [FK_ReplyComments_Comments]    Script Date: 06/27/2015 19:57:17 ******/
ALTER TABLE [dbo].[ReplyComments]  WITH CHECK ADD  CONSTRAINT [FK_ReplyComments_Comments] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comments] ([CommentID])
GO
ALTER TABLE [dbo].[ReplyComments] CHECK CONSTRAINT [FK_ReplyComments_Comments]
GO
