<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.webServer>
    <!--error page VD : News.aspxxxxxx-->
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" path="~/404.aspx" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <!--error page VD : Newsabc.aspx-->
    <customErrors defaultRedirect="~/404.aspx" mode="On">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  <!--fix error tinymce-->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages validateRequest="false" /><!--end error tinymce-->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="DBEcommerceEntities" connectionString="metadata=res://*/Ecommerce.csdl|res://*/Ecommerce.ssdl|res://*/Ecommerce.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOAIBAO-PC\SQLEXPRESS;initial catalog=DBEcommerce;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>